# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/
.conda/

# Environment secrets
.env

# Flask / Database
instance/
*.db
*.sqlite3

# Migrations 
migrations/versions/__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter Notebooks output
*.ipynb_checkpoints/



# Static uploads 
static/uploads/

# Logs
*.log

# Salesforce / Tooling
.sfdx/